<h1>Ask a question</h1>

<!-- blir sendt til controlleren som kontakter answer filen -->
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What is your question?">
  <input type="submit">
</form>


